<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/ac682/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="ac682" />
            <add key="ClearTextPassword" value="56914642ea7b755db9995f0dfc7fadc6988e7974" />
        </github>
    </packageSourceCredentials>
</configuration>